/* Add the following CSS code to styles.css */

/* Overall calculator styles */
.calculator {
  margin-top: 5rem;
  padding: 1rem;
}

/* Calculation input field */
#calculation {
  text-align: right;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  border: none;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

/* Calculator buttons container */
.row {
  margin-top: 1rem;
}

/* Calculator buttons */
.btn-block {
  height: 4rem;
  width: 100%;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* Clear button */
.clearbuttonbtn {
  background-color: #f7f7f7;
  color: black;
}

/* Slash button */
#btnDivide {
  background-color: #f7f7f7;
  color: black;
}

/* Total bags, Less bag weight, C.qty */
.card-body p {
  margin-bottom: 0.5rem;
}

/* Farmer code, No. of Bags, Qty, Less Bag Weight, Net Wt, C. Qty */
#heading-row .col-2 {
  font-weight: bold;
}

/* Total row */
#total-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Add Row, Save, Continue buttons */
#add-row-btn,
#save-btn,
#continue-btn {
  margin-top: 1rem;
}

/* Media queries for responsive design */

/* Small devices (up to 576px) */
@media (max-width: 576px) {
  .calculator {
    margin-top: -44px;
    padding: 0px;
  }

  /* Calculator buttons */
  .btn-block {
    height: 3rem;
    font-size: 1rem;
  }

  /* Total row */
  #total-row {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* Medium devices (between 577px and 992px) */
@media (min-width: 577px) and (max-width: 992px) {
  .calculator {
    margin-top: 4rem;
  }
  .row {
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  /* Calculator buttons */
  .btn-block {
    height: 3.5rem;
    font-size: 1.1rem;
  }

  /* Total row */
  #total-row {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3{
    padding: 0px;
  }
}

/* Large devices (greater than 992px) */
@media (min-width: 993px) {
  .calculator {
    margin-top: 5rem;
  }

  /* Calculator buttons */
  .btn-block {
    height: 4rem;
    font-size: 1.2rem;
  }

  /* Total row */
  #total-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}